.dialogItem {
	grid-area: item;
	background-color: #C4BDBD;
	display: block;
	text-align: center;
	border-radius: 16px;
	margin-bottom: 7px;
}

.dialogItem:hover {
	background-color: white;
}

.dialogItem a {
	display: block;
	text-decoration: 	none;
	font-size: 	27px;
  color:#ffff00 ;

}
