.user {
	padding: 9px;
	margin: 12px;
	text-align: center;
	max-width: 	560px;
	display: inline-block;
  border-radius: 16px;
  background-color: #E1E1E1;
}

.username {
  display: block;
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.user button {
  background-color: #ffa000;
  appearance: none;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 4px 7px;
  font-size: 16px;
}

.user button:disabled {
  background-color: black;
}

.user a {
  text-decoration: none;
}

.pag {
  text-align: justify ;
  left:50%;
}

.kart {
	width: 100px;
	height: 100px;
}
{/*
.cur {
	font-weight: bold;
	width: 1.6em;
        height: 1.6em;
        margin: 0.15em 2px;
       
        font-weight:bold;
        text-align:center;
        border-radius: .9em;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
        display: inline-block;
                color:#fff;
        background:#2980b9;




}

.uncur {
        margin: 0.15em 2px;
        line-height: 1.8em;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

.uncur :hover {
        color: rgb(0,0,0);
        	width: 1.6em;
        height: 1.6em;
        margin: 1px;
                       color:#fff;
        background:#2980b9;

        font-weight:bold;
        text-align:center;
        border-radius: .9em;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);



      }
*/}

.uncur {
     display: inline-block;
     font-size: 20px;
     color: white;
     height: 50px;
     line-height: 50px;
     padding: 0 20px;
     background-color: #ffa000;


}
 
.cur {
    display: inline-block;
     font-size: 20px;
     color: red;
     height: 50px;
     line-height: 50px;
     padding: 0 20px;
     background-color: #ffa000;
     border: 1px solid black;

}

.cur:hover .uncur:hover, .cur.active .uncur.active {
 background-color: #5fa9c5;
 background-image: -webkit-linear-gradient(top, #74d7fc, #4b7c8e);
 background-image: linear-gradient(to bottom, #74d7fc, #4b7c8e);
 background-repeat: repeat-x;
 color: black;
 text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}{}

.but {
    margin-left: 100px;
}

.but button {
  padding-right: 50px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 11px;
  opacity: 0.5
}

@media (max-width: 988px) {
  .uncur {
     display: inline-block;
     font-size: 20px;
     color: white;
     height: 20px;
     line-height: 12px;
     padding: 5px;
     background-color: #ffa000;


}
 
.cur {
    display: inline-block;
     font-size: 20px;
     color: red;
     height: 20px;
     line-height: 12px;
     padding: 5px;
     background-color: #ffa000;
     border: 1px solid black;

}

.but {
    margin-left: 10px;
}

.but button {
  padding-right: 110px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 9px;
  padding: 5px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
  opacity: 0.5
}

.kart {
  width: 83px;
  height: 83px;
}

.user {
  padding: 20px;
  margin: 29px;
  text-align: center;
  max-width:  560px;
  display: inline-block;
  border-radius: 16px;
  background-color: #E1E1E1;
}


}

.but button:hover {opacity: 1}