  /*
.App {
  margin:0 auto;
  color: #645452 ;
  max-width:1200px;
  display: grid;
  grid-template-rows: 260px 1fr;
  grid-template-columns: 160px 1fr;  
  grid-template-areas: 
    "head head"
    "cont cont"

}







.wrapper {

  border: 3px solid red;

  font-family: 'Verdana';
  font-size: 120%;
  margin:4px;
  background-image: url ('./assets/images/pexels.jpeg');

background-image:
  background: repeating-radial-gradient(
  circle,
  white,
  white 10px,
  #80471c 10px, 
  #f3e5ab 20px);


  max-width: 1200px;
  border-radius: 20px;

}

  */

