.nav {
  grid-area: n;
  color:  #f3e5ab;
	font-weight: bold; 

}

.nav a{
	display: block;
	text-decoration: 	none;
	font-size: 	16px;
	border: 2mm ridge rgba(170, 50, 120, .6);
	background-color: grey;
	border-radius: 110px;
	margin-left: -33px;
	margin-right: 3px;
	text-align: center;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	margin-bottom: 7px;
	padding: 17px;
	color: #ff9100;

}

.nav a:active {
	position:relative;
	top:7px;
color: #f00
}



.nav li {
  list-style-type: none;
}

.links {
    background: #ffc; /* Цвет фона */
    padding: 2px; /* Поля вокруг текста */
    color: #800000; /* Цвет текста */
 	text-decoration: none; 
}

