.nav {
  grid-area: n;
  color:  #f3e5ab;
	font-weight: bold; 

}

.nav a{
	display: inline;
	text-decoration: 	none;
	font-size: 	16px;
	border: 0.1mm ridge #3d3300;
	background-color: grey;
	border-radius: 19px;
	margin-left: -33px;
	margin-right: 3px;
	text-align: center;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	margin-bottom: 7px;
	padding: 17px;
	color: #ffff00;

}

@media (max-width: 660px) {
  .nav ul li {
	display: inline;
	min-width: 80px;
	margin-left: 9px;
	padding: 11px;
  }
}


.nav a:active {
	position:relative;
	top:7px;
color: #f00
}



.nav li {
  list-style-type: none;
}

.links {
    background: #ffc; /* Цвет фона */
    padding: 2px; /* Поля вокруг текста */
    color: #800000; /* Цвет текста */
 	text-decoration: none; 
}

